<!-- ********** THEME FEATURES SECTION ********** -->
<div id="g">
  <div class="container">
    <div class="row mtb">
      
      <div class="col-md-4 w">
        <h5>Drupal</h5>
        <hr>
        <p>Drupal is an open source content management system powering millions of websites and apps. And we'd love to customize it to your needs.</p>
      </div>
      
      
      <div class="col-md-4 w">
        <h5>Symfony</h5>
        <hr>
        <p>Symfony is a PHP framework for web projects. Built around a community of awesome people it turns out to be great for higher complexity projects.</p>
      </div>

      
      <div class="col-md-4 w">
        <h5>Magento</h5>
        <hr>
        <p>Magento is the eCommerce software and platform trusted by the world's leading brands. We can help you grow your online business with Magento.</p>
      </div>
    </div><!--/row -->
    <div class="row mtb">
      
      <div class="col-md-4 w">
        <h5>Wordpress</h5>
        <hr>
        <p>WordPress is a web software you can use to create a beautiful website or blog. It is an affordable solution to consider for lots of projects.</p>
      </div>
      
      
      <div class="col-md-4 w">
        <h5>Mobile Apps</h5>
        <hr>
        <p>Native Apps, Responsive Design, Hybrid Apps. Mobile is everywhere and we can help you reach this audience.</p>
      </div>
    </div><!--/row -->
  </div><!--/container -->
</div><!--G -->