<!-- ********** FOOTER SECTION ********** -->
<div id="f">
  <div class="container">
    <div class="row mtb">
      <div class="col-md-6 col-md-offset-3 centered">
        <a href="https://twitter.com/{{ site.twitter_username }}"><i class="icon ion-social-twitter"></i></a>
        <a href="https://www.facebook.com/{{ site.facebook_username }}"><i class="icon ion-social-facebook"></i></a>
        <a href="https://instagram.com/{{ site.instagram_username }}"><i class="icon ion-social-instagram"></i></a>
        <a href="https://www.pinterest.com/{{ site.pinterest_username }}"><i class="icon ion-social-pinterest"></i></a>
        <a href="https://github.com/{{ site.github_username }}"><i class="icon ion-social-github"></i></a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3 w centered">
        <p>Contact <a href="mailto:emmanuel@spiicy.io">emmanuel@spiicy.io</a></p>
      </div><!--/col-md-6-->
    </div><!--/row -->
  </div><!--/container -->
</div><!--/F -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ "/assets/js/jquery.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/classie.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/retina-1.1.0.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/jquery.superslides.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/jquery.cubeportfolio.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/theme.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/jquery.hammer.min.js" | prepend: site.baseurl }}"></script>

<script>
//Superslides 
$('#slides').superslides({
    slide_easing: 'easeInOutCubic',
    slide_speed: 800,
    pagination: true,
    hashchange: false,
    scrollable: true,
    animation: 'fade'
});
</script>

<script>
// Banner text add parallax efect and fade
function EasyPeasyParallax() {
    scrollPos = $(this).scrollTop();
    $('#slider').css({
        'background-position': '50% ' + (-scrollPos / 4) + "px"
    });
    $('#bannertext').css({
        'margin-top': (scrollPos / 4) + "px",
        'opacity': 1 - (scrollPos / 250)
    });
}
$(document).ready(function () {
    $(window).scroll(function () {
        EasyPeasyParallax();
    });

    $('a.cbp-caption').hover(
        function() {
            console.log($(this).find('.circle-icon').length);
            $(this).find('.circle-icon').removeClass('zoomOut').addClass('zoomIn').show();
        }, function() {
            $(this).find('.circle-icon').removeClass('zoomIn').addClass('zoomOut').show();
        }
    );
});
</script>
