<!-- ********** PORTFOLIO SECTION ********** -->

<div id="grid-container" class="cbp-l-grid-fullScreen">
   <ul id="projects-list">
      <li class="cbp-item identity">
         <a class="cbp-caption" href="https://unitedworldwrestling.org" target="_blank">
            <div class="cbp-caption-defaultWrap">
               <img src="{{ "/assets/img/portfolio/uww.png" | prepend: site.baseurl }}" alt="" class="img-responsive">
            </div>
            <div class="cbp-caption-activeWrap">
               <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                     <div class="cbp-l-caption-title">United World Wrestling</div>
                     <div class="cbp-l-caption-desc">UX Design, Web development, Drupal</div>
                  </div>
               </div>
            </div>
            <div class="circle-icon animated quick">
               <div class="icon ion-link"></div>
            </div>
         </a>
      </li>
      <!-- end:Item -->
      <li class="cbp-item graphic identity">
         <a class="cbp-caption" href="https://arena.unitedworldwrestling.org/bracket" target="_blank">
            <div class="cbp-caption-defaultWrap">
               <img src="{{ "/assets/img/portfolio/arena.png" | prepend: site.baseurl }}" alt="" class="img-responsive">
            </div>
            <div class="cbp-caption-activeWrap">
               <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                     <div class="cbp-l-caption-title">Arena</div>
                     <div class="cbp-l-caption-desc">UX Design, Web development, Symfony</div>
                  </div>
               </div>
            </div>
            <div class="circle-icon animated quick">
               <div class="icon ion-link"></div>
            </div>
         </a>
      </li>
      <!-- end:Item -->
      <li class="cbp-item web-design">
         <a class="cbp-caption" href="http://www.tempslibre.ch/" target="_blank">
            <div class="cbp-caption-defaultWrap">
               <img src="{{ "/assets/img/portfolio/tl.png" | prepend: site.baseurl }}" alt="" class="img-responsive">
            </div>
            <div class="cbp-caption-activeWrap">
               <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                     <div class="cbp-l-caption-title">Tempslibre.ch</div>
                     <div class="cbp-l-caption-desc">UX Design, Web development, Symfony</div>
                  </div>
               </div>
            </div>
            <div class="circle-icon animated quick">
               <div class="icon ion-link"></div>
            </div>
         </a>
      </li>
      <!-- end:Item -->
      <li class="cbp-item graphic identity">
         <a class="cbp-caption" href="http://haabit.io" target="_blank">
            <div class="cbp-caption-defaultWrap">
               <img src="{{ "/assets/img/portfolio/habit.png" | prepend: site.baseurl }}" alt="" class="img-responsive">
            </div>
            <div class="cbp-caption-activeWrap">
               <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                     <div class="cbp-l-caption-title">Habit</div>
                     <div class="cbp-l-caption-desc">Experimental, TelescopeJS (Meteor)</div>
                  </div>
               </div>
            </div>
            <div class="circle-icon animated quick">
               <div class="icon ion-link"></div>
            </div>
         </a>
      </li>
      <!-- end:Item -->
   </ul>
</div><!--/grid-container-->