<!-- ********** PORTFOLIO SECTION ********** -->

<div id="grid-container" class="cbp-l-grid-fullScreen">
   <ul>
      <li class="cbp-item identity">
         <a class="cbp-caption cbp-lightbox" data-title="Image" href="{{ "/assets/img/portfolio/uww.png" | prepend: site.baseurl }}">
            <div class="cbp-caption-defaultWrap">
               <img src="{{ "/assets/img/portfolio/uww.png" | prepend: site.baseurl }}" alt="" class="img-responsive">
            </div>
            <div class="cbp-caption-activeWrap">
               <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                     <div class="cbp-l-caption-title">United World Wrestling</div>
                     <div class="cbp-l-caption-desc">UX Design, Web development, Drupal</div>
                  </div>
               </div>
            </div>
         </a>
      </li>
      <!-- end:Item -->
      <li class="cbp-item graphic identity">
         <a class="cbp-caption cbp-lightbox" data-title="Image" href="{{ "/assets/img/portfolio/arena.png" | prepend: site.baseurl }}">
            <div class="cbp-caption-defaultWrap">
               <img src="{{ "/assets/img/portfolio/arena.png" | prepend: site.baseurl }}" alt="" class="img-responsive">
            </div>
            <div class="cbp-caption-activeWrap">
               <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                     <div class="cbp-l-caption-title">Arena</div>
                     <div class="cbp-l-caption-desc">UX Design, Web development, Symfony</div>
                  </div>
               </div>
            </div>
         </a>
      </li>
      <!-- end:Item -->
      <li class="cbp-item web-design">
         <a class="cbp-caption cbp-lightbox" data-title="Image" href="{{ "/assets/img/portfolio/tl.png" | prepend: site.baseurl }}">
            <div class="cbp-caption-defaultWrap">
               <img src="{{ "/assets/img/portfolio/tl.png" | prepend: site.baseurl }}" alt="" class="img-responsive">
            </div>
            <div class="cbp-caption-activeWrap">
               <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                     <div class="cbp-l-caption-title">Tempslibre.ch</div>
                     <div class="cbp-l-caption-desc">UX Design, Web development, Symfony</div>
                  </div>
               </div>
            </div>
         </a>
      </li>
      <!-- end:Item -->
      <li class="cbp-item graphic identity">
         <a class="cbp-caption cbp-lightbox" data-title="Image" href="{{ "/assets/img/portfolio/base7.png" | prepend: site.baseurl }}">
            <div class="cbp-caption-defaultWrap">
               <img src="{{ "/assets/img/portfolio/base7.png" | prepend: site.baseurl }}" alt="" class="img-responsive">
            </div>
            <div class="cbp-caption-activeWrap">
               <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                     <div class="cbp-l-caption-title">Base7booking</div>
                     <div class="cbp-l-caption-desc">Web development, Zend</div>
                  </div>
               </div>
            </div>
         </a>
      </li>
      <!-- end:Item -->
   </ul>
</div><!--/grid-container-->