<!-- ********** SERVICES SECTION ********** -->
<div class="container">
  <div class="row mtb centered">
    <div class="col-md-6 col-md-offset-3 w">
      <h5>Our Services</h5>
      <hr class="aligncenter">
    </div>
  </div><!--/row -->
  
  <div class="row mtb centered">
    <div class="col-md-3">
      <div class="ser w">
        <i class="icon ion-settings"></i>
        <h5>Web Development</h5>
        <hr class="aligncenter">
        <p>Nous créons des sites internet en favorisant toujours les excellents outils Open Source adaptée à chaque situation.</p>
      </div>
    </div><!--/col-md-3 -->
    <div class="col-md-3">
      <div class="ser w">
        <i class="icon ion-chatbubble-working"></i>
        <h5>UX Design</h5>
        <hr class="aligncenter">
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
      </div>
    </div><!--/col-md-3 -->
    <div class="col-md-3">
      <div class="ser w">
        <i class="icon ion-beaker"></i>
        <h5>Ecommerce</h5>
        <hr class="aligncenter">
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
      </div>
    </div><!--/col-md-3 -->
    <div class="col-md-3">
      <div class="ser w">
        <i class="icon ion-trophy"></i>
        <h5>Content Management System</h5>
        <hr class="aligncenter">
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
      </div>
    </div><!--/col-md-3 -->
  </div><!--/row -->
</div><!--/container -->