<!-- ********** TESTIMONIAL SECTION ********** -->
<div id="t" class="carousel slide" data-ride="carousel">
    <div class="col-md-6 col-md-offset-3 centered">
      <h5>Love From Our Users</h5>
      <hr class="aligncenter">
      <!-- Carousel
      ================================================== -->
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#mint" data-slide-to="0" class="active"></li>
          <li data-target="#mint" data-slide-to="1"></li>
          <li data-target="#mint" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="item active">
            <div class="centered mtb">
              <h4>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</h4>
              <p>SHARON SMITH</p>
        </div>
      </div><!-- /item -->
      
          <div class="item">
            <div class="centered mtb">
              <h4>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</h4>
              <p>SAM MANNING</p>
        </div>
      </div><!-- /item -->

          <div class="item">
            <div class="centered mtb">
              <h4>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</h4>
              <p>PAUL STEVENSON</p>
        </div>
      </div><!-- /item -->
      
    </div><!--/carousel-inner -->
    </div><!--/col-md-6 -->
</div><!--/T -->