<!-- ********** FEATURES ********** -->
<div class="container">
  <div class="row mtb2 centered">
    <div class="col-md-4 w">
      
      <h5>Development</h5>
      <hr class="aligncenter">
      <p>You have great ideas ?<br />We can help you make them live.</p>
    </div><!--/col-md-4-->
    <div class="col-md-4 w">
      
      <h5>UX (User Experience)</h5>
      <hr class="aligncenter">
      <p>Build your product for the End user, not for you.<br />Who is this person ? How can you help him ?<br />We have some insights.</p>
    </div><!--/col-md-4-->
    <div class="col-md-4 w">
      
      <h5>Design</h5>
      <hr class="aligncenter">
      <p>Because Content is king.<br /><small>(but a tasteful design is highly recommended)</small></p>
    </div><!--/col-md-4-->
  </div><!--/row -->
</div><!-- /.container -->